.slider img{
    width: 100%;
    height: 250px;
    cursor: pointer;
}

.slider_main{
    width: 100%;
    margin: 20px;
    padding: 40px;
    cursor: pointer;
}

.slider_main .length{
    width: 100% !important;
}

.img_length{
    width: 100% !important;
    height: 200px;
}